* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: #0056b3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 10px;
  outline: 1px solid #0056b3;
  transition: outline 1s ease 0s;
}

.menu a:hover {
  outline: 4px solid #4294ff;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.hamburger-menu span {
  background-color: white;
  width: 100%;
  height: 3px;
  border-radius: 5px;
}
.navbar input {
  display: none;
}

#hero {
  background-color: #f0f0f0;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.hero-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 35px;
}

.text-container {
  flex: 1;
  margin-right: 45px;
}

.text-container h1 {
  font-size: 36px;
  margin-bottom: 30px; /* Aumento del espacio entre el título y el párrafo */
}

.text-container p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
  text-align: left;
}

.cta-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Aumento del espacio entre el texto y el botón */
}

.cta-button:hover {
  background-color: #0056b3;
}

.image-container {
  border: 2px solid #ccc; /* Borde de 2px sólido en color gris */
  background: linear-gradient(to right, #00b9e7, #004dad);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 10px; /* Espacio interno de 10px */
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.sobre-mi {
  background-image: url(/assets/Fondo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 20px;
  text-align: center;
}

.contenido-sobre-mi {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.titulo-sobre-mi {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: #ffffff;
}

.descripcion-sobre-mi {
  font-size: 1.2em;
  margin-bottom: 40px;
  background-color: rgba(173, 216, 230, 0.5); /* Celeste con transparencia */
  border: 2px solid #000; /* Borde sólido de color negro */
  backdrop-filter: blur(5px); /* Efecto de vidrio con desenfoque */
  padding: 20px;
}

.perfil-abogado {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.perfil-abogado img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 15px;
}

.perfil-abogado h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ffffff;
}

.perfil-abogado p {
  font-size: 1em;
  background-color: rgba(173, 216, 230, 0.5); /* Celeste con transparencia */
  border: 2px solid #000; /* Borde sólido de color negro */
  backdrop-filter: blur(5px); /* Efecto de vidrio con desenfoque */
  padding: 20px;
}

.detalles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experiencia,
.educacion {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  max-width: 1200px;
}

.experiencia h3,
.educacion h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #003366;
  border-bottom: 2px solid #003366;
  padding-bottom: 5px;
}

.experiencia p,
.educacion p {
  font-size: 1em;
  color: #555;
  line-height: 1.5;
}

.experiencia {
  border-left: 5px solid #003366;
}

.educacion {
  border-left: 5px solid #009688;
}

blockquote {
  margin: 0;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-left: 5px solid #e91e63;
  font-style: italic;
  color: #666;
}

blockquote p {
  margin: 0 0 10px;
}

blockquote cite {
  display: block;
  text-align: right;
  font-size: 0.9em;
  color: #333;
}

.cta {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #003f91;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.cta:hover {
  background-color: #002f6c;
}

/*  */

.servicios {
  background-color: #f5f5f5;
  padding: 50px 20px;
  text-align: center;
}

.contenido-servicios {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.titulo-servicios {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: #003366;
}
.descripcion-servicios {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 20px;
}

.cards-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: lightblue;
  padding: 45px;
  border-radius: 10px;
}

.card-servicio {
  background-color: #003f91;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}

.card-servicio:hover {
  transform: scale(1.05);
}

.card-servicio img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.card-servicio h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ffffff;
}

.card-servicio p {
  font-size: 1em;
  color: #ddd;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.card-servicio:hover .overlay {
  opacity: 1;
}

/* Estilos para los testimonios */
.testimonios {
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(to right, #00b9e7, #004dad);
}

.titulo-testimonios {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #333;
}

.testimonios-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonio {
  display: none;
  max-width: 600px;
  width: 100%; /* Ajustar al ancho del contenedor */
  border: 2px solid #a606f7;
  border-radius: 10px;
  background-color: #ffffff; /* Fondo blanco */
  padding: 20px; /* Añadir espaciado interno */
  margin-bottom: 20px; /* Ajustar margen inferior */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.testimonio.active {
  display: block;
  transform: scale(1.05); /* Escala al estar activo */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
}

.testimonio p {
  font-size: 1.2em;
  color: #555;
  padding-bottom: 8px;
}

.testimonio cite {
  font-style: normal;
  font-size: 1.1em;
  color: #888;
  display: block;
  margin-top: 10px;
}

/* Estilos para los botones de navegación */
#prev,
#next {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#prev:hover,
#next:hover {
  background-color: #0056b3;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más intensa al hacer hover */
}
/* Estilos para la sección de contacto y ubicación */
#contacto-ubicacion {
  padding: 50px;
  background: linear-gradient(135deg, #e3f2fd, #bbdefb);
}

.contacto-ubicacion-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.contacto,
.ubicacion {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(0, 0, 0);
  width: 100%;
  max-width: 600px;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #0056b3;
  text-align: center;
}

p {
  font-size: 1em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.contact-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.contact-links li {
  margin-bottom: 10px;
}

.contact-links a {
  text-decoration: none;
  color: #0056b3;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease;
}

.contact-links a:hover {
  color: #003f7f;
}

.contact-links img {
  width: 24px;
  height: 24px;
}

.map-container {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.footer {
  background-color: #0056b3;
  text-align: center;
  padding: 20px 0;
}

.footer p {
  color: rgb(0, 0, 0);
  margin: 0;
}
